.list {
  padding: 10px;
}

.link {
  text-decoration: none;
}

.element {
  padding: 5px;
  border: 1px white solid;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2px;
  cursor: pointer;
  color: rgb(0, 225, 255);
}
