body {
  // background-color: rgb(156, 143, 143);
  background-color: black;
}

.list {
  padding: 10px;
}

.list__el {
  padding: 5px;
  border: 1px white solid;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 2px;
  cursor: pointer;
  color: rgb(0, 225, 255);
}

.star__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.link {
  text-decoration: none;
}
